.donation-menu{
    width: 250px;
}

.donation-menu-image {
    width: 100%;
    height: 100%;
}

.exactAmount {
    width: 94px;
    label {
        font-size: 14px;
        margin-left: -7px;
    }
    input {
        padding-left: 7px;
    }
}

.icon {
    color: #9797AD;
}

.buffer-label {
    color: #27AE60;
}